<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <user-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- Provides location accuracy to within a city block -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Provides more accurate location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application android:usesCleartextTraffic="true" tools:targetApi="28" tools:ignore="GoogleAppIndexingWarning" />
</manifest>
